<nav class="navbar navbar-expand navbar-dark bg-dark mb-3">
  <a class="navbar-brand" routerLink="/">TV maniac</a>
  <div class="container">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a
          class="nav-item nav-link"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLink="/"
          >Home
        </a>
        <a class="nav-item nav-link" routerLinkActive="active" routerLink="/tv">Search</a>
        <a class="nav-item nav-link" routerLinkActive="active" routerLink="/contact">Contact</a>
        <span> <tm-loading class="navbar-text"></tm-loading></span>
      </div>
    </div>
  </div>
</nav>
<main class="container">
  <router-outlet></router-outlet>
</main>
