<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand" href="#">TV maniac</a>
  <div class="container">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">Home </a>
        <a class="nav-item nav-link" href="#">Search</a>
        <a class="nav-item nav-link" href="#">Contact</a>
      </div>
    </div>
  </div>
</nav>
<main class="container">
  <tm-home></tm-home>
  <router-outlet></router-outlet>
</main>
