<div class="row">
  <section class="col col-3">
    <h2 class="h3">Bookmarks</h2>
  </section>
  <section class="col">
    <h1 class="h3">Search</h1>
    <div class="input-group">
      <input type="search" class="form-control" #queryRef />
      <div class="input-group-append">
        <button class="btn btn-primary" (click)="search(queryRef.value)">Search</button>
      </div>
    </div>
    <div class="row">
      <tm-poster class="col col-4" [show]="show" *ngFor="let show of shows"></tm-poster>
    </div>
  </section>
</div>
